/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
.socialsharing_product button {
  background-color: #e5e5e5;
  color: dimgrey;
  padding: 7px 15px;
  border-color: #e5e5e5;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .socialsharing_product button {
    padding: 7px 10px;
  }
}
@media (max-width: 480px) {
  .socialsharing_product button {
    padding: 7px 4px;
  }
}
