{# empty Twig template #}
{% extends "EspritCaddyBundle::layout.html.twig" %}
{% block head %}
<title>{% block title %}{{parent()}}-Form{% endblock %}</title>
{% block stylesheet %}
<link rel="stylesheet" href="{{asset('themes/pf_megashop/css/category.css')}}"/>
{%endblock%}
{%endblock%}
{%block content%}
jkdfshfgkdjsghfkjgdsfjsgchgsdhcbsdhhkfjzdshcbsdn
njkdbchvsdkjvczdbchh
nkjdcbhjbzshvce
{%endblock%}